<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>
    <title>Posts Archive - blog.willem-jan.net - Just some rambling about (web)development</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="icon" type="image/ico" href="/img/favicon.ico" />
        <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-5505825-8']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    </head>
<body>
    <div class="wrapper">

        <header class="block padded">
            <span class="alpha">blog.willem-jan.net</span>
        </header>

        <div class="page">

            <div class="sidebar">

                <ul class="main">
                    <li><a href="http://blog.willem-jan.net/">Home</a></li>
                                        <li><a href="http://blog.willem-jan.net/blog">Archive</a></li>
                    <li><a href="http://feeds.feedburner.com/BlogWillemjanNet" rel="alternate" type="application/rss+xml">RSS <img src="/img/feed-icon-14x14.png" alt="" title="RSS Feed" /></a></li>
                </ul>

                
                <div class="intro">
                    <h3>Short intro</h3>
                    <p>I'm Willem-Jan. My GitHub and IRC handles are <a href="http://github.com/wjzijderveld">wjzijderveld</a> and my Twitter handle is <a href="http://twitter.com/willemjanz">@willemjanz</a>.</p>
                </div>

                <div class="block no-padding textads">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Sidebar -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-6473304659214282"
     data-ad-slot="6183414453"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>                </div>
            </div>

                            <div class="content archive">
        <h2>Posts Archive</h2>
                                                                    <h3>2013</h3>
                                                    <article>
            <span class="date">Friday, August 2nd</span>&nbsp;<a href="http://blog.willem-jan.net/2013/08/02/keep-improving">Keep improving</a>
        </article>
                                                                <article>
            <span class="date">Friday, July 26th</span>&nbsp;<a href="http://blog.willem-jan.net/2013/07/26/new-blog">A new blog</a>
        </article>
                                                                <article>
            <span class="date">Tuesday, February 26th</span>&nbsp;<a href="http://blog.willem-jan.net/2013/02/26/created-a-little-bundle-check-library">Created a little bundle check library</a>
        </article>
                                                        </div><div class="content archive">            <h3>2012</h3>
                                                    <article>
            <span class="date">Saturday, June 2nd</span>&nbsp;<a href="http://blog.willem-jan.net/2012/06/02/working-on-opensource">Working on an OpenSource project</a>
        </article>
                                                        </div><div class="content archive">            <h3>2011</h3>
                                                    <article>
            <span class="date">Saturday, June 11th</span>&nbsp;<a href="http://blog.willem-jan.net/2011/06/11/drupal-combined-views">Drupal and combined views</a>
        </article>
    
    <div>
                    <nav class="article clearfix">
                                    <a class="previous" href="http://blog.willem-jan.net/blog" title="Page Page"><span class="title">Previous Page</span></a>
                                            </nav>
            </div>
</div>            
        </div>

        <footer class="block padded">
            &copy; 2013 Willem-Jan Zijderveld - all rights reserved
        </footer>
    </div>
    <script type="text/javascript" src="/js/prism.js"></script>
    <script type="text/javascript" src="/js/prism.hooks.js"></script>
</body>
</html>