<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>
    <title>blog.willem-jan.net - Just some rambling about (web)development</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="icon" type="image/ico" href="/img/favicon.ico" />
        <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-5505825-8']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    </head>
<body>
    <div class="wrapper">

        <header class="block padded">
            <span class="alpha">blog.willem-jan.net</span>
        </header>

        <div class="page">

            <div class="sidebar">

                <ul class="main">
                    <li><a href="http://blog.willem-jan.net/">Home</a></li>
                                        <li><a href="http://blog.willem-jan.net/blog">Archive</a></li>
                    <li><a href="http://feeds.feedburner.com/BlogWillemjanNet" rel="alternate" type="application/rss+xml">RSS <img src="/img/feed-icon-14x14.png" alt="" title="RSS Feed" /></a></li>
                </ul>

                
                <div class="intro">
                    <h3>Short intro</h3>
                    <p>I'm Willem-Jan. My GitHub and IRC handles are <a href="http://github.com/wjzijderveld">wjzijderveld</a> and my Twitter handle is <a href="http://twitter.com/willemjanz">@willemjanz</a>.</p>
                </div>

                <div class="block no-padding textads">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Sidebar -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-6473304659214282"
     data-ad-slot="6183414453"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>                </div>
            </div>

                            <div class="content">
    <h1>Welcome on my blog</h1>
    <p>On this blog I try to regularly talk about my experiences with development. To be honest, I tried this before, more than once... But this time it will be different!</p>
    <p>This time I'm going to make a list of stuff I want to talk about, and I'm setting a weekly reminder in my agenda to write a blogpost and/or think about more subjects.</p>
</div>
<div class="content">
    <h2>Latest posts</h2>
            <h3><a href="http://blog.willem-jan.net/2014/08/01/sculpin-related-content">Sculpin Related Content Bundle</a><span class="date">2014-08-01</span></h3>
        <p>When I wrote the <a href="http://blog.willem-jan.net/2013/11/16/setup-jackalope-with-mysql">phpcr tutorial</a> serie, I wanted to show the previous posts in the same serie.
As this wasn't a feature Sculpin provided, I decided to write my own bundle to make this
possible, that's how <a href="https://github.com/wjzijderveld/SculpinRelatedContentBundle">SculpinRelatedContentBundle</a> started.</p>

<p>Altough I only finished it for I wrote the last post in the serie, I'm still happy that I wrote it.
But it still took me 6 months to actually tag and release it...</p>

<h2>Installation</h2>

<p>Add the bundle to yuor dependencies in your <a href="https://sculpin.io/documentation/embedded-composer/">sculpin.json</a> and run <code>sculpin install</code>.</p>

<pre><code class="language-javascript">{
    "require": {
        "wjzijderveld/sculpin-related-content-bundle": "~1.0"
    }
}
</code></pre>

<p>To use the bundle you need to do 2 things, the first is configure each post where you want to show related content.
You do this by defining the tags that relate to this content. I deliberately didn't choose to automatically couple
tags to eachother, because I didn't want to show all posts about phpcr with all posts about phpcr.</p>

<p>So we will configure for each content_type which tags should be used to find related content.</p>

<pre><code class="language-javascript">title: Awesome content is awesome
tags: [phpcr, phpcr-tutorial]
related:
  posts_tags: [phpcr-tutorial]
</code></pre>

<p>But only configuring the content that is related to each other isn't enough,
We should also show the related content somewhere!</p>

<p>Because I didn't want to restrict where I can show the related content, I assigned the related content to
a global variable <code>related_content</code>. This way you can choose how and where to show the content.</p>

<pre><code class="language-markup">
{% if related_content|length %}
    &lt;ul class="block related"&gt;
        {% for relatedSource in related_content %}
            &lt;li&gt;&lt;a href="{{ site.url }}{{ relatedSource.url }}"&gt;
                {{ relatedSource.title }}
            &lt;/a&gt;&lt;/li&gt;
        {% endfor %}
    &lt;/ul&gt;
{% endif %}

</code></pre>

<p>Yesterday I tagged version 1.0.0, about 15 minutes later I tagged 1.0.1 because I forgot to fix the only issue that prevented me from tagging 1.0.0 sooner, because you know... I just didn't think that far ahead yesterday :)</p>

<p>It probably doesn't work with all content_types available as I only tried it with post_tags, but it shouldn't be that hard to add support for other types.</p>

<p>Contributions are welcome!</p>

        <hr class="rule rule--ornament" />
            <h3><a href="http://blog.willem-jan.net/2014/02/17/migrating-to-jackrabbit">Migrating to jackrabbit</a><span class="date">2014-02-17</span></h3>
        <p>This is the sixth and probably last post about PHPCR with Jackalope. In the previous posts we played with PHPCR using
Jackalope Doctrine DBAL as storage backend. In this post we are going to migrate our data to <a href="http://jackrabbit.apache.org/">Jackrabbit</a>.</p>

<p>Jackrabbit is a Apache project that fully implements the JCR-170 and JCR-283 spec. We are going to implement it using
<a href="https://github.com/jackalope/jackalope-jackrabbit">Jackalope Jackrabbit</a>.</p>

<h2>Preperations</h2>

<p>We first need to install the new Jackalope package.</p>

<pre><code class="language-bash">$ require jackalope/jackalope-jackrabbit ~1.1
$ composer update
</code></pre>

<p>Since we installed it in november there has been quit a few releases (Symfony 2.4, Jackalope 1.1, etc), so we are updating
those as well.</p>

<p>In the first post, when we setup our repository, we already prepared a bit on the migration, by making our config aware
of the fact that we can use multiple backends.</p>

<p><em><strong>Disclaimer</strong>: I haven't performed this action in production yet, so I can't guarantee this works for all cases.
And as always: make a backup!</em></p>

<h2>Exporting the data from MySQL</h2>

<p>To do this migration, we will export the data from MySQL and import it again into Jackrabbit. To do this I added 2
commands from PHPCR-Utils to our console, the <code>WorkspaceExportCommand</code> and the <code>WorkspaceImportCommand</code>. I also added
the <code>WorkspaceQueryCommand</code> to perform simple SQL2 queries, but this is purely for demo purposes.</p>

<p>The export will be a XML file with your complete workspace. Running the export is as simple as running the command with
the target filename as an argument.</p>

<pre><code class="language-bash">$ ./console phpcr:workspace:export tutorial.xml
</code></pre>

<p>You should now have a file <code>tutorial.xml</code> with your complete workspace. I included an example of my workspace in <a href="https://github.com/wjzijderveld/phpcr-blog-serie/tree/part6-migrate-to-jackrabbit">the
git repository</a>, I also included a formatted version for your convenience.</p>

<h2>Updating our configuration</h2>

<p>Before we're going to import our data in Jackrabbit, we need to update our configuration. And you'll need a running
Jackrabbit server to import your data again. I'm not going into specifics how to install and run Jackrabbit, there are
multiple options to do that. In this example I'll be using the <a href="http://jackrabbit.apache.org/standalone-server.html">standalone server</a>.</p>

<p>First we are going to update the <code>config.yml</code> we created in the root of our project. In the <code>jackalope</code> section we add a
section for jackrabbit, under the dbal section. In the new section we only need to configure the URL of our repository.
And update the transport to <code>jackalope-jackrabbit</code>.</p>

<pre><code class="language-markup">jackalope:
  transport: jackalope-jackrabbit
  [..]
  jackrabbit:
    url: http://localhost:8080/server
</code></pre>

<p>I've updated <a href="https://github.com/wjzijderveld/phpcr-blog-serie/blob/part6-migrate-to-jackrabbit/cli-config.php">the cli-config.php</a> in the git repository, similar to the one for DoctrineDBAL, but without the database
connection.</p>

<h2>Importing our data</h2>

<p>Before we actually import our data, lets run a SQL2 query to check we actually changed our backend correctly and the
workspace is empty.</p>

<pre><code class="language-bash">$ ./console phpcr:workspace:query "SELECT * FROM [nt:unstructured]"
</code></pre>

<p>This should return only a single row, the rootNode. Now, let's import our data! To do this, we first need to recreate
the custom nodeTypes we created in <a href="http://blog.willem-jan.net/2014/01/18/creating-custom-nodetypes">the previous post</a>. After that, we can actually import our data.</p>

<pre><code class="language-bash">$ ./console tutorial:create-nodetype
$ ./console phpcr:workspace:import tutorial.xml
</code></pre>

<p>You should get a message like <code>"Successfully imported file "&lt;project path&gt;/tutorial.xml" to path "/" in workspace "default"</code>.</p>

<p>When we now rerun the query from above, we should have some results! With Jackrabbit now configured, you might play with
some of the features Jackrabbit has built-in, like versioning.</p>

<h2>That's a wrap</h2>

<p>As I mentioned in the intro, this is probably the last post in this serie. I hope this serie helped some people to
understand a bit what PHPCR is and how it can be used. If somebody would like me to create a more detailed example, or
expand a bit more on a specific subject, let me know!</p>

        <hr class="rule rule--ornament" />
            <h3><a href="http://blog.willem-jan.net/2014/01/18/creating-custom-nodetypes">Creating custom NodeTypes</a><span class="date">2014-01-18</span></h3>
        <p>This post is the fifth in a serie about PHPCR with Jackalope. In the <a href="http://blog.willem-jan.net/2013/11/16/setup-jackalope-with-mysql">first post</a> we've setup our repository, in
<a href="http://blog.willem-jan.net/2013/11/26/phpcr-reading-and-writing">the second</a> we talked about reading and writing from and to our repository. The <a href="http://blog.willem-jan.net/2013/12/09/phpcr-query-object-model">third post</a> was about the
QueryObjectModel and in the <a href="http://blog.willem-jan.net/2014/01/10/nodetypes-and-mixins">previous post</a> we talked about NodeTypes and Mixins.</p>

<p>In this post we'll be creating our own NodeType.</p>

<h2>Defining the NodeType</h2>

<p>As we saw in the <a href="http://blog.willem-jan.net/2014/01/10/nodetypes-and-mixins">previous post</a>, NodeTypes have certain properties that define how a NodeType behaves and property
definitions that define what values are stored in the NodeType. To create our own NodeType, we need to tell our
repository how our NodeType should behave.</p>

<p>Our NodeType should have a name which shouldn't clash with other NodeTypes. To be sure of that, we need to register a
new namespace with our repository and use that namespace to name our NodeType.</p>

<pre><code class="language-php">$session-&gt;getWorkspace()-&gt;getNamespaceRegistry()
        -&gt;registerNamespace('acme', 'http://acme.example.com/phpcr/1.0');
</code></pre>

<p>To define the actual NodeType we need to use the <code>NodeTypeManager</code>, that manager takes care of registering the NodeType
with our repository. We need to pass a <code>NodeTypeDefinition</code> to <code>NodeTypeManager::registerNodeType</code>. We can build it from
an array, from XML or create a copy from another NodeTypeDefinition instance.</p>

<p>In this case I went for the XML solution which has the benefit that you can easily distribute the NodeType so others can
use it without the need for PHP.</p>

<pre><code class="language-markup">&lt;!-- customNodeTypes.xml --&gt;
&lt;?xml version="1.0" encoding="utf-8"?&gt;
&lt;nodeTypes&gt;
    &lt;nodeType
            name="acme:product" isMixin="false" isAbstract="false"
            isQueryable="true" hasOrderableChildNodes="true"&gt;
        &lt;supertypes&gt;
            &lt;supertype&gt;nt:base&lt;/supertype&gt;
            &lt;supertype&gt;mix:title&lt;/supertype&gt;
            &lt;supertype&gt;mix:referenceable&lt;/supertype&gt;
        &lt;/supertypes&gt;
        &lt;propertyDefinition
                name="acme:rrpPrice"
                requiredType="decimal"
                declaringNodeType="acme:product"
                autoCreated="true"
                fullTextSearchable="false"
                mandatory="true"
                multiple="false"
                onParentVersion="COPY"
                protected="false"
                queryOrderable="true"&gt;
            &lt;valueConstraints /&gt;
        &lt;/propertyDefinition&gt;
        &lt;propertyDefinition
                name="acme:media"
                requiredType="Reference"
                declaringNodeType="acme:product"
                autoCreated="false"
                fullTextSearchable="false"
                mandatory="false"
                multiple="true"
                onParentVersion="COPY"
                protected="false"
                queryOrderable="false"&gt;
            &lt;valueConstraints&gt;
                &lt;valueConstraint&gt;nt:resource&lt;/valueConstraint&gt;
            &lt;/valueConstraints&gt;
        &lt;/propertyDefinition&gt;
    &lt;/nodeType&gt;
&lt;/nodeTypes&gt;
</code></pre>

<p>The definition above gives us a acme:product NodeType with 2 properties. Beside that, we also defined that it has 3
supertypes: <code>nt:base</code>, <code>mix:title</code> and <code>mix:reference</code>. For the acme:media property, we also added a valueConstraint.</p>

<h2>Registering the NodeType</h2>

<p>To actually register the nodeType, we only need a few lines of code as seen in the <a href="https://github.com/wjzijderveld/phpcr-blog-serie/blob/part5-creating-a-nodetype/src/Wjzijderveld/Command/CreateNodeTypeCommand.php">CreateNodeTypeCommand</a></p>

<pre><code class="language-php">$nodeTypesDocument = new \DOMDocument();
$nodeTypesDocument-&gt;load(__DIR__ . '/../Resources/data/customNodeTypes.xml');
$xpath = new \DOMXPath($nodeTypesDocument);
foreach ($xpath-&gt;query('//nodeType') as $nodeTypeElement) {
    $nodeType = new NodeType(
        new Factory(),
        $session-&gt;getWorkspace()-&gt;getNodeTypeManager(),
        $nodeTypeElement
    );
    $session-&gt;getWorkspace()
        -&gt;getNodeTypeManager()
        -&gt;registerNodeType($nodeType, true);
}
$session-&gt;save();
</code></pre>

<p><strong>Sidenote</strong>: above code won't work correctly untill <a href="https://github.com/jackalope/jackalope/pull/203">PR 203</a> has been merged.</p>

<h2>Using the newly created NodeType</h2>

<p>To use the new NodeType, we need to create a Node with the new NodeType as primaryType.</p>

<pre><code class="language-php">$rootNode-&gt;addNode('customNodeTypeNode', 'acme:product');
</code></pre>

<p>We new now try to save the product, we get an error stating that the property acme:rrpPrice doesn't have a default value.
If we fill the price the node saves just fine. After that we can also add a property jcr:title, which is defined by our
supertype mix:title. But when we also try to add a property <code>foo</code> with value <code>bar</code>, we get an exception that our
NodeTypeDefinition doesn't allow to set a property <code>foo</code>.</p>

<p>By creating custom NodeTypes, you can create some structure in your data, while still having the flexibility from a
schemaless storage.</p>

<p>The examples in this blogpost can be found <a href="https://github.com/wjzijderveld/phpcr-blog-serie/tree/part5-creating-a-nodetype">on Github</a>.</p>

        <hr class="rule rule--ornament" />
            <h3><a href="http://blog.willem-jan.net/2014/01/10/nodetypes-and-mixins">NodeTypes and Mixins</a><span class="date">2014-01-10</span></h3>
        <p>This post is the fourth in a serie about PHPCR with Jackalope. In the <a href="http://blog.willem-jan.net/2013/11/16/setup-jackalope-with-mysql">first post</a> we've setup our repository, in
<a href="http://blog.willem-jan.net/2013/11/26/phpcr-reading-and-writing">the second</a> we talked about reading and writing from and to our repository. In the <a href="http://blog.willem-jan.net/2013/12/09/phpcr-query-object-model">previous post</a> we played with the
QOM and wrote our first queries.</p>

<p>In this post, we will be digging a bit deeper into PHPCR. We'll see how NodeTypes work and how you can combine some
properties with the use of Mixins.</p>

<h2>Introduction to NodeTypes</h2>

<p>What are NodeTypes? The JCR specification defines it like this:</p>

<blockquote>
  <p>Node types are used to enforce structural restrictions on the nodes and properties in a workspace by defining for
  each node, its required and permitted child nodes and properties.</p>
</blockquote>

<p>A repository can determine what NodeTypes are supported. In this case we will look at the types that Jackalope defines.
For that, we use the Command provided by PHPCR-Utils. I added that to the console used by the</p>

<pre><code class="language-bash">$ ./console phpcr:node-type:list
</code></pre>

<p>This will give you a list of the NodeTypes defined by Jackalope. If you would have defined custom NodeTypes, then those
would show here as well. As you already can see in that list almost all of them have one or more SuperTypes. That means
you can extend NodeTypes with one or more other NodeTypes.</p>

<p>But this list doesn't show everything we want to see, so I created a <a href="https://github.com/wjzijderveld/phpcr-blog-serie/blob/part4-nodetypes-and-mixins/src/Wjzijderveld/Command/InfoCommand.php">new info Command</a> in the example that also shows
PropertyDefinitions and ChildNodeDefinitions. That way we can get a better understanding what NodeTypes actually define.</p>

<pre><code class="language-bash">$ ./console tutorial:info
</code></pre>

<p>In this case, we are going to look at the NodeType <code>nt:nodeType</code> the nodeType that is used to define custom NodeTypes.</p>

<pre><code class="language-css">nt:nodeType
  Supertypes:
    &gt; nt:base
  PropertyDefinitions:
    &gt; jcr:hasOrderableChildNodes (Boolean: Required)
    &gt; jcr:isQueryable (Boolean: Required)
    &gt; jcr:isMixin (Boolean: Required)
    &gt; jcr:nodeTypeName (Name: Required)
    &gt; jcr:isAbstract (Boolean: Required)
    &gt; jcr:primaryItemName (Name: Optional)
    &gt; jcr:supertypes (Name: Optional)
    &gt; jcr:mixinTypes (Name: Optional)
    &gt; jcr:primaryType (Name: Required)
  ChildNodeDefinitions:
    &gt; jcr:childNodeDefinition (Optional)
    &gt; jcr:propertyDefinition (Optional)
</code></pre>

<p>As you can see, a NodeType defines a lot of stuff. It defines that it should have a property that defines it's name
<code>jcr:nodeTypeName</code>. It also defines if the NodeType is Queryable and if it's childNodes have an order.
Besides that, it can also define if and which childNodes it can contain. As an example, NodeType <code>nt:activity</code> doesn't
support any ChildNodes, <code>nt:folder</code> can contain any NodeType and <code>nt:file</code> has a required ChildNode <code>jcr:content</code>.</p>

<h2>Mixin example</h2>

<p>For an example with Mixins, I planned to use some versioning code examples to demonstrate how mixins can be used. But
that was until I found out Versioning is not yet supported by Jackalope Doctrine DBAL. So I'm just going to explain what
mixins can do for you, and I will use some of the other default mixins available.</p>

<p>A Mixin looks like a NodeType, it also defines some parameters of how a Node should behave. But different from the
primary NodeType, you can add multiple mixins to a single node. Let's see how we add a Mixin to a Node first, in this
case <code>mix:created</code>.</p>

<pre><code class="language-php">$mixinExample = $rootNode-&gt;addNode('mixinExample');
$mixinExample-&gt;addMixin('mix:created');
$session-&gt;save();
</code></pre>

<p>That's simple isn't it? Directly we can see what this mixin can do:</p>

<pre><code class="language-php">var_dump($mixinExample-&gt;getProperty('jcr:created')-&gt;getString());
// string(29) "2014-01-10T22:15:25.000+01:00"
</code></pre>

<p>So we now have a creation date without us adding it manually. We also got a <code>jcr:createdBy</code> property, which is empty by
default. Let's add another mixin.</p>

<pre><code class="language-php">$mixinExample-&gt;addMixin('mix:lastModified');
</code></pre>

<p>That mixin provides us with a <code>jcr:lastModified</code> and a <code>jcr:lastModifiedBy</code> property. It differs per transport layer if
the <code>jcr:lastModified</code> is automatically updated. Jackalope Doctrine DBAL doesn't do that this moment. But we can still
set it manually.</p>

<p>That's it for this post. It took a lot longer then planned to finish this post, partly because of the holidays and
partly because I stumbled on some bugs in Jackalope that I wanted to fix first.</p>

<p>I hope the next part of this blogpost will appear within the next 2 weeks.</p>

        <hr class="rule rule--ornament" />
            <h3><a href="http://blog.willem-jan.net/2013/12/09/phpcr-query-object-model">PHPCR: Query Object Model</a><span class="date">2013-12-09</span></h3>
        <p>This post is the third in a serie about PHPCR with Jackalope. In the <a href="http://blog.willem-jan.net/2013/11/16/setup-jackalope-with-mysql">first post</a> we've setup our repository, in
<a href="http://blog.willem-jan.net/2013/11/26/phpcr-reading-and-writing">the second</a> we talked about reading and writing from and to our repository.</p>

<p>In this post, we will continue with the reading part, but this time by using queries. For this, PHPCR has multiple
possibilities. On of them is the Query Object Model (QOM) with a Factory. At first this can seem a bit verbose, but I
hope to make clear why that is. Besides the QOM, there is also the possibility to use JCR-SQL2 queries. A Query language
very similar to SQL, which (in the case of Jackalope DoctrineDBAL) gets converted to the QOM. Jackalope Jackrabbit uses
SQL2 to communicate with Jackrabbit. There are 2 other query methods (SQL1 and XPath), but I'm not showing those in this
serie.</p>

<p>For the examples I use in this post, I created <a href="https://github.com/wjzijderveld/phpcr-blog-serie/blob/part3-query-and-querybuilder/src/Wjzijderveld/Resources/data/fixtures.xml">a fixture file</a> to load. This is loaded in the <a href="https://github.com/wjzijderveld/phpcr-blog-serie/blob/part3-query-and-querybuilder/src/Wjzijderveld/Command/QOMCommand.php">new Command</a> I added.</p>

<p>But before we can start with querying, we need to understand what we are querying and how we limit the results. With
PHPCR you're not querying tables or collections in a way you might be used to with SQL or NoSQL databases. When you
create a query you specify a <code>selector</code> (or multiple if the repository supports joins). So, when you want to query for
all files, without knowing where they are in your tree, you simply use the following query.</p>

<pre><code class="language-php">$factory = $session-&gt;getWorkspace()-&gt;getQueryManager()-&gt;getQOMFactory();
$source = $factory-&gt;selector('file', 'nt:file');
$qom = $factory-&gt;createQuery($source);
$result = $qom-&gt;execute();
</code></pre>

<p>Or with JCR-SQL2</p>

<pre><code class="language-php">$result = $session-&gt;getWorkspace()-&gt;getQueryManager()
                  -&gt;createQuery("SELECT * FROM [nt:file]",
                                QueryInterface::JCR_SQL2);
</code></pre>

<p>Already you can see the difference in verbosity of both methods. Because of this, you will probably use JCR-SQL2 when
building your queries. But in this post I will the QOM Factory for the most examples because (IMHO) that shows a bit
better what parts make up a query.</p>

<p><strong>Update:</strong> Instead of working with the QOMFactory directly, you can also work with the more fluent QueryBuilder that's
provided by PHPCR Utils.</p>

<pre><code class="language-php">$qomFactory = $session-&gt;getWorkspace()-&gt;getQueryManager()-&gt;getQOMFactory();
$queryBuilder = new \PHPCR\Util\QOM\QueryBuilder($qomFactory);
$queryBuilder
    -&gt;from($qomFactory-&gt;selector('file', 'nt:file'))
    -&gt;where($qomFactory-&gt;descendantNode('file', '/documents'))
    -&gt;execute();
</code></pre>

<h2>Basic conditions</h2>

<p>In the fixture file, I created some news items which we are going to query. The items have the nodeType <code>nt:unstructured</code>
so that's the what we are quering for. For the first example we are just retrieving all items, which are placed under
<code>/queryExamples/news</code>.</p>

<p>We first need to define what selector we are going to use.</p>

<pre><code class="language-php">/** @var QueryObjectModelFactoryInterface $qomFactory */
$qomFactory = $session-&gt;getWorkspace()-&gt;getQueryManager()-&gt;getQOMFactory();
$source = $qomFactory-&gt;selector('news', 'nt:unstructured');
</code></pre>

<p>The first parameter is the name of the selector which you get to choose yourself, you might call it an alias. The second
is the primary nodeType we are querying for, so in this case <code>nt:unstructured</code>.</p>

<p>Now we can define what columns we want to return in the results. For this example we only select the title.</p>

<pre><code class="language-php">$titleColumn = $qomFactory-&gt;column('news', 'title', 'title');
</code></pre>

<p>The first parameter is the selector from which we wan't to select something. The second parameter is the property we
want to select and the third is the name we want to use in the column, like an alias.</p>

<p>Next, we create the query with a condition to limit the nodes by path. This is called the <code>DescendantNodeConstraint</code>.</p>

<pre><code class="language-php">$qom = $qomFactory-&gt;createQuery(
    $source,
    $qomFactory-&gt;descendantNode('news', '/queryExamples/news'),
    array(),
    array($titleColumn)
);
</code></pre>

<p>The first parameters defines the selector to query from, the second is the condition for the query. The next parameter
defines the order of the results. The last parameter are the columns to select. The first parameter of the constraint
tells which selector we want to user, the second is under what path we want to select nodes.</p>

<p>Now we are ready to execute the query and loop over he results.</p>

<pre><code class="language-php">$result = $qom-&gt;execute();
foreach ($result-&gt;getRows() as $newsItem) {
    echo $newsItem-&gt;getValue('title');
}
</code></pre>

<p>Now we have our first results, we are going to limit our newsItem based on author. This is a simple PropertyValue
constraint. But because we now have 2 constraints, we need to alter our constraint to an <code>AndConstraint</code> and it becomes
very clear that the QOM Factory can get very verbose.</p>

<pre><code class="language-php line-numbers">$qom = $qomFactory-&gt;createQuery(
    // SelectorInterface
    $qomFactory-&gt;selector('news', 'nt:unstructured'),
    // AndInterface
    $qomFactory-&gt;andConstraint(
        // DescendantNodeInterface
        $qomFactory-&gt;descendantNode('news', '/queryExamples/news'),
        // ComparisonInterface
        $qomFactory-&gt;comparison(
            // PropertyValueInterface
            $qomFactory-&gt;propertyValue('news', 'jcr:author'),
            // 'jcr.operator.equal.to'
            QueryObjectModelConstantsInterface::JCR_OPERATOR_EQUAL_TO,
            // LiteralInterface
            $qomFactory-&gt;literal('foo')
        )
    ) // No orderings or columns for this example
);
echo count($qom-&gt;execute()-&gt;getRows()); // 2
</code></pre>

<p>This seems like a lot of code for a simple query, so I'll try to explain why that is. You already can see that there
are different kind of constraints. You don't always compare 2 properties but, as already used, you might need to test
if the nodes are descendants of a specific node, or if the node is a direct child of a given node. Or maybe you only
need to query nodes that have a specific property. Now everything is an object, it's way easier to walk the query to be
able toe execute it.</p>

<h2>More operands</h2>

<p>The next queries have a bit more constraints, and a constraint that you might expected to work differently.
We are going to query for nodes under <code>/queryExamples/news</code>, where the author is <strong>NOT</strong> <code>bar</code> <strong>AND</strong> where the node
does <strong>NOT</strong> have a categories property <strong>OR</strong> where the node contains a category <code>foo</code>. Then we order the result based
on NodeName in descending order.</p>

<pre><code class="language-php line-numbers">$qom = $qomFactory-&gt;createQuery(
    $source,
    // First and constraint
    $qomFactory-&gt;andConstraint(
        // Descendant constraint
        $qomFactory-&gt;descendantNode('news', '/queryExamples/news'),
        // Second and constraint
        $qomFactory-&gt;andConstraint(
            // Compare author
            $qomFactory-&gt;comparison(
                $qomFactory-&gt;propertyValue('news', 'jcr:author'),
                QueryObjectModelConstantsInterface::JCR_OPERATOR_NOT_EQUAL_TO,
                $qomFactory-&gt;literal('bar')
            ),
            // Or constraint
            $qomFactory-&gt;orConstraint(
                // Check for missing property categories
                $qomFactory-&gt;notConstraint(
                    $qomFactory-&gt;propertyExistence('news', 'categories')
                ),
                // Or check for category foo
                $qomFactory-&gt;comparison(
                    $qomFactory-&gt;propertyValue('news', 'categories'),
                    QueryObjectModelConstantsInterface::JCR_OPERATOR_EQUAL_TO,
                    $qomFactory-&gt;literal('foo')
                )
            )
        )
    ),
    // Order nodes based on name
    array($qomFactory-&gt;descending($qomFactory-&gt;nodeName('news')))
);
</code></pre>

<p>We now receive 2 rows, <code>item2</code> and <code>item1</code> in that order.</p>

<h4>To keep in mind</h4>

<p>Especially with Doctrine DBAL there are a few limitations with querying. So is comparing dates a bit tricky because the
properties are stored in XML. A workaround would be to store the date as a numeric format, so it becomes a lot easier to
compare and order it.</p>

<h2>JCR-SQL2</h2>

<p>Now let's have a quick look at the JCR-SQL2 variant of above query. We can just generate that from the above code with
<code>$qom-&gt;getStatement();</code></p>

<pre><code class="language-sql">SELECT * FROM [nt:unstructured] AS news
WHERE (
    ISDESCENDANTNODE(news, [/queryExamples/news])
    AND (
        news.[jcr:author] &lt;&gt; 'bar'
        AND (
            NOT news.categories IS NOT NULL
            OR news.categories = 'foo'
        )
    )
)
ORDER BY NAME(news) DESC
</code></pre>

<p>As you can see, is that a lot shorter and probably more more readable then the QOM Factory version. But a JCR-SQL2 can
get hard to read when you build it dynamicly, so it definitely isn't always the better solution.</p>

<h2>Other constraints</h2>

<p>We already saw quit a few constraints and I named a few others. Here is a quick overview of all the constraints that
PHPCR defines.</p>

<ul>
<li>And <em>Combine 2 required constraints</em></li>
<li>ChildNode <em>Check parent node</em></li>
<li>Comparison <em>Compare 2 values, can be any operand</em></li>
<li>DescendantNode <em>Check if path is under specified path</em></li>
<li>FullTextSearch <em>Full text search</em></li>
<li>Not <em>Inverse given constraint</em></li>
<li>Or <em>Combine 2 optional constraints</em></li>
<li>PropertyExistence <em>Check if the node has a property</em></li>
<li>SameNode <em>Compare node with another node</em></li>
</ul>

<p><strong>NOTE</strong>
Not all constraints are available in the Jackalope DoctrineDBAL transport, so is the SameNodeConstraint not yet
implemented.</p>

<p>We might see some of these constraints begin used in future posts. But I guess most are pretty obvious in what they do.</p>

<h2>Next post</h2>

<p>In the next post, I'll tell more nodeTypes and mixins. I'll do that by using versionable as an example.</p>

        <hr class="rule rule--ornament" />
            <div>
                            <a href="http://blog.willem-jan.net/page/2" class="next">Next page</a>
            </div>
    </div>            
        </div>

        <footer class="block padded">
            &copy; 2013 Willem-Jan Zijderveld - all rights reserved
        </footer>
    </div>
    <script type="text/javascript" src="/js/prism.js"></script>
    <script type="text/javascript" src="/js/prism.hooks.js"></script>
</body>
</html>
