---
layout: default
title:
generator: pagination
pagination:
  max_per_page: 5
use:
  - posts
---
<div class="row">
    <h1>Welcome on my blog</h1>
    <p>On this blog I might sometimes write something (I know myself, it probably won't happen on a regular basis) about my experiences with development.</p>
</div>
<div class="row">
    <h2>Latest posts</h2>
    <div class="container-fluid">
      {% for post in page.pagination.items %}
      <div class="row">
          <h3><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a><span class="badge badge-default">{{ post.date|date('Y-m-d') }}</span></h3>
          {{ post.blocks.content|raw }}
          <hr class="rule rule--ornament" />
      </div>
      {% endfor %}
      {% if page.pagination.previous_page or page.pagination.next_page %}
      <div>
          {% if page.pagination.previous_page %}
              <a href="{{ site.url }}{{ page.pagination.previous_page.url }}" class="previous">Previous page</a>
          {% endif %}
          {% if page.pagination.next_page %}
              <a href="{{ site.url }}{{ page.pagination.next_page.url }}" class="next">Next page</a>
          {% endif %}
      </div>
      {% endif %}
    </div>
</div>
